/* Base styles – mobile first */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    font-size: 12px;
  }
  
  
  body {
    font-family: "stinger-variable", sans-serif;
    background: white;
    color: #000;
    line-height: 1.4;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background: transparent; /* Kein Hintergrund */
    position: absolute; /* Über dem intro-Bereich */
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;  
    }
    .footer {
    width: 100%;
    position: relative;
    }
    
    .footer-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    }

  .language-button {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    border: none;
    background: #F18B45;
    color: white;
    border-radius: 20px;
    cursor: pointer;
  }
  

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-image: url(img/Ringe.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    text-align: center;
    padding: 2rem 1rem;
  }
  
  .intro h1 {
    font-size: 4.5rem; /* größerer Text für mobile */
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  
  .subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 6rem;
  }
  
  
  .play-button {
    font-size: 1.2rem;
    padding: 1rem 1.8rem;
    background: #2CE2EF;;
    color: #F18B45;
    border: none;
    border-radius: 20px;
    padding: 0.7rem 1.2rem;
    font-weight: bold;
    cursor: pointer;
    display: none;
  }
  
  .truth {
    color: #2CE2EF;;
  }
  
  .or {
    color: #000;
  }
  
  .dare {
    color: #F18B45;
  }
  
 
  .game-section {
    position: relative;
    padding: 4rem 3rem; /* mehr Raum oben/unten */
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 20%, rgba(44, 226, 239, 1) 20%, rgba(44, 226, 239, 1) 55%, rgba(241, 139, 69, 1) 55%, rgba(241, 139, 69, 1) 90%, rgba(255, 255, 255, 1) 90%);
  }
  

  .button-overlay {
    position: absolute;
    bottom: 7%; /* unteres Viertel */
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .truth-button,
  .dare-button {
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 20px;
    padding: 0.8rem 2.5rem;
    box-shadow: 4px 4px 0 white;
    cursor: pointer;
  }
  
  .truth-button {
    background: #2CE2EF;;
    color: white;
  }
  
  .dare-button {
    background: #F18B45;
    color: white;
  }

  .chat-image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    z-index: 2;
  }
  
  .chat-img {
    width: 115%;
    max-width: 380px;
    border-radius: 3rem;
    margin-top: -40px; /* höher ziehen ins weiße */
  }
  
  /* Mobile Standardmäßig */
  .mobile-only {
    margin-top: -90px; /* oder fein abstimmen mit -30px, -50px etc. */
  }

  .desktop-only {
    display: none;
  }
  
  .chat-bubbles {
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    z-index: 1;
  }
  
  .bubble {
    max-width: 80%;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    line-height: 1.3;
    box-shadow: 2px 2px 0 #000;
  }
  
  .bubble.truth {
    background-color: #2CE2EF;
    align-self: flex-start;
  }
  
  .bubble.dare {
    background-color: #F18B45;
    align-self: flex-end;
  }
  
  #language-select {
    padding: 8px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  /*.chat-image-wrapper img {
    max-width: 100%;
    height: auto;
    display: block;
  }*/

  
  /* Tablbet styles */
  @media (min-width: 768px) {
    html, body {
      font-size: 20px;
    }
    /* .intro h1 {
      font-size: 9rem;
    }
  
    .subtitle {
      font-size: 3.8rem;
    } */
    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      min-height: 100vh; /* Füllt den ganzen Bildschirm */
    
      background-image: url(img/Ringe.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    
      text-align: center;
      padding: 2rem 1rem;
    }
    .play-button {
      font-size: 1.2rem;
      padding: 1rem 1.8rem;
      background: #2CE2EF;;
      color: #F18B45;
      border: none;
      border-radius: 20px;
      padding: 0.7rem 1.2rem;
      font-weight: bold;
      cursor: pointer;
      display: block;
    }
    .game-section {
      padding: 4rem 1rem; /* mehr Raum oben/unten */
      background: #FFF;
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(44, 226, 239, 1) 10%, rgba(44, 226, 239, 1) 55%, rgba(241, 139, 69, 1) 55%, rgba(241, 139, 69, 1) 100%);
      justify-content: center;
      display: none;
    }
    
    .game-section.active {
      display: block;
    }
    .chat-image-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }
    
    .chat-img {
      max-width: 100%;
      height: auto;
    }
    
    .truth-button,
    .dare-button {
      width: auto;
      min-width: 120px;
    }

    .mobile-only {
        display: none;
      }
      .desktop-only {
        display: block;
      }

     .button-overlay {
        position: absolute;
        bottom: 7%;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
  
    .truth-button,
    .dare-button {
      font-size: 1.5rem;
      font-weight: bold;
      border: none;
      border-radius: 15px;
      padding: 0.8rem 3rem;
      box-shadow: 2px 2px 0 white;
      cursor: pointer;
    }
.chat-bubbles {
    position: absolute;
    left: 0;
    right: 0;
    padding: 30px 5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    z-index: 1;
  }
.bubble {
    max-width: 90%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 1rem;
    line-height: 1.3;
    box-shadow: 2px 2px 0 #000;
  }

  }
  
  @media (min-width: 1024px) {
    html, body {
      font-size: 25px;
    }
  .play-button {
      font-size: 1.2rem;
      padding: 1rem 1.8rem;
      background: #2CE2EF;;
      color: #F18B45;
      border: none;
      border-radius: 20px;
      padding: 0.7rem 1.2rem;
      font-weight: bold;
      cursor: pointer;}

    .intro h1 {
      font-size: 5rem;
    }
  
    .subtitle {
      font-size: 2srem;
    }  
   }