/* Base styles – mobile first */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    font-size: 12px;
  }
  
  
  body {
    font-family: "stinger-variable", sans-serif;
    background: white;
    color: #000;
    line-height: 1.4;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background: transparent; /* Kein Hintergrund */
    position: absolute; /* Über dem intro-Bereich */
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;  
    }
  
  .language-button {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    border: none;
    background: #F18B45;
    color: white;
    border-radius: 20px;
    cursor: pointer;
  }
  

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh; /* Füllt den ganzen Bildschirm */
  
    background-image: url(img/Ringe.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    text-align: center;
  }
  
  .intro h1 {
    font-size: 4.5rem; /* größerer Text für mobile */
    line-height: 1.2;
  }
  
  .subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .play-button {
    font-size: 1.2rem;
    padding: 1rem 1.8rem;
    background: #2CE2EF;;
    color: #F18B45;
    border: none;
    border-radius: 20px;
    padding: 0.7rem 1.2rem;
    font-weight: bold;
    cursor: pointer;}
  
  .truth {
    color: #2CE2EF;;
  }
  
  .or {
    color: #000;
  }
  
  .dare {
    color: #F18B45;
  }
  
  .game-section {
    background: linear-gradient(to bottom, #F18B45 50%, #2CE2EF 50%);
    padding: 2rem 1rem;
    /*display: flex;*/
    justify-content: center;
  }
  
  .button-overlay {
    position: absolute;
    bottom: 10%; /* unteres Viertel */
    display: flex;
    gap: 1.5rem;
  }

  .truth-button,
  .dare-button {
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    padding: 0.6rem 1.5rem;
    box-shadow: 2px 2px 0 #00000040;
    cursor: pointer;
  }
  
  .truth-button {
    background: #2CE2EF;;
    color: white;
  }
  
  .dare-button {
    background: #F18B45;
    color: white;
  }

  .chat-image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .chat-img {
    max-width: 90%;
    height: auto;
  }
  
  /* Mobile Standardmäßig */
  .mobile-only {
    margin-top: -120px; /* oder fein abstimmen mit -30px, -50px etc. */
  }

  .desktop-only {
    display: none;
  }
  
  /*.chat-image-wrapper img {
    max-width: 100%;
    height: auto;
    display: block;
  }*/


  
  /* Tablbet styles */
  @media (min-width: 768px) {
    html, body {
      font-size: 20px;
    }
    /* .intro h1 {
      font-size: 9rem;
    }
  
    .subtitle {
      font-size: 3.8rem;
    } */

  
    .truth-button,
    .dare-button {
      width: auto;
      min-width: 120px;
    }

    .mobile-only {
        display: none;
      }
      .desktop-only {
        display: block;
      }

     .button-overlay {
        position: absolute;
        bottom: 10%;
        display: flex;
        gap: 4rem;
    }
  
    .truth-button,
    .dare-button {
      /* font-size: 3rem; */
      font-weight: bold;
      border: none;
      border-radius: 15px;
      padding: 0.8rem 4.5rem;
      box-shadow: 2px 2px 0 #00000040;
      cursor: pointer;
    }
  }
  
  @media (min-width: 1024px) {
    html, body {
      font-size: 25px;
    }
  .play-button {
      font-size: 1.2rem;
      padding: 1rem 1.8rem;
      background: #2CE2EF;;
      color: #F18B45;
      border: none;
      border-radius: 20px;
      padding: 0.7rem 1.2rem;
      font-weight: bold;
      cursor: pointer;}

    .intro h1 {
      font-size: 5rem;
    }
  
    .subtitle {
      font-size: 2srem;
    }  
   }